.image-data-view {
  height: 50px;
  position: relative;
}

.image-data-view-modal {
  width: 100%;
}

.draggable-mirror {
  display: none !important;
}

.draggable-source--is-dragging {
  background-color: #4c4c4c;
  color: white;
}

.parent-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entity-data-row:hover {
  background-color: rgba(76, 76, 76, 0.2);
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.middle {
  position: relative;
  top: -35px;
  color: transparent;
  margin-bottom: -22px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  background-color: transparent !important;
}

.image-data-addon .loop {
  color: white;
}

.image-data-addon:hover .image-data-view {
  opacity: 0.3;
}

.image-data-addon:hover .middle {
  color: black;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#confirmation-modal-title {
  text-align: center;
}

.default-data {
  vertical-align: middle !important;
}

.no-padding {
  padding: 0 !important;
}

